@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    /* width: 100%; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
   font-size: 46px;
   line-height: 2;
   text-align: center;
   color: #9d0191; 
}
main{
    background: #f4f4f4;
    padding: 4rem 0;
}
.slide-container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.arrow{
    width: 32px;
    margin: 0 16px;
}
section{
    width: 100%;
    margin: 0 auto;
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}
section::-webkit-scrollbar{
    /* used to style the scrolling */
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}
section::-webkit-scrollbar-track{
    /* used to see the position of the scrollbar. you can used any color */
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}
section::-webkit-scrollbar-thumb{
    background: #9d0191;
    outline: 1px solid #eee;
}
section .thumbnail{
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    transform: scale(.95);
    /* the transform scale resizes the box */
    transition: all .3s;
}
section .thumbnail:hover{
    transform: scale(1);
}
.product-details{
    text-align: center;
    padding-bottom: 16px;
    background: #ffff;
    font-size: 18px;
    font-weight: 500;
}
.product-details p{
    font-size: 18px;
    padding-bottom: 1rem;
    color: green;
    font-weight: 700;
}
.product-details p span{
    font-weight: normal;
    text-decoration: line-through;
    color: red;
}
.product-details a{
    font-size: 15px;
    text-decoration: none;
    background: #db6400;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    transition: all .3s;
}
.product-details a:hover{
    background: #9d0191;
}